defaults: &defaults
  brigade_github: codeforboston
  omniauth:
    - provider: :browser_id
    - provider: :github
      app_id: APP_ID
      app_secret: APP_SECRET
      options:
        :scope: 'user,public_repo'


development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
